<footer class="footer bg-blue relative bottom-0 w-full mt-3">
    <div class="max-w-screen-xl px-4 py-12 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8">
        <nav class="flex flex-wrap justify-center -mx-5 -my-2">
            <div class="px-5 py-2">
                <a href="#" class="text-base text-white leading-6 hover:bg-blue">
                    About Us
                </a>
            </div>
            <div class="px-5 py-2">
                <a href="#" class="text-base text-white leading-6 hover:bg-blue">
                    FAQ
                </a>
            </div>
            <div class="px-5 py-2">
                <a href="#" class="text-base text-white leading-6 hover:bg-blue">
                    Terms & Conditions
                </a>
            </div>
            <div class="px-5 py-2">
                <a href="#" class="text-base text-white leading-6 hover:bg-blue">
                    Privacy Policy
                </a>
            </div>
            <div class="px-5 py-2">
                <a href="#" class="text-base text-white leading-6 hover:bg-blue">
                    Contact
                </a>
            </div>
        </nav>
        <p class="mt-8 text-base leading-6 text-center text-darkGrey">
            © 2021 SomeCompany, Inc. All rights reserved.
        </p>
    </div>
</footer>