<div class='block mb-2 flex justify-center'>
    Buying a Property with the Auction Project
  </div>
<div class='my-5 flex justify-center'>
  <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4">
    <!--Card 1-->
    <div class="overflow-hidden md:w-96 bg-steps-1 border border-border bg-right-bottom bg-no-repeat  bg-contain">
      <div class="pr-10 pl-4 w-64 text-left py-4">
        <div class="font-bold text-xl mb-2">Step #1</div>
        <div class="font-bold text-xl mb-2">Find the property</div>
        <p class="text-gray-700 text-base">
          Find the properties you are interested in, download and review carefully the information provided for each. The properties are all sold on "as is basis".
        </p>
      </div>
    </div>
    <!--Card 2-->
    <div class="overflow-hidden md:w-96 bg-steps-2 border border-border bg-right-bottom bg-no-repeat  bg-contain">
      <div class="pr-10 pl-4 md:w-92 sm:w-72 text-left py-4">
        <div class="font-bold text-xl mb-2">Step #2</div>
        <div class="font-bold text-xl mb-2">Make an offer</div>
        <p class="text-gray-700 text-base">
          Once the auction starts you can make an offer on the property your are interested in, starting from the "Opening bid". "Buy now" properties are avaiable for immediate purchase and are usually made available a few days prior to them being auctioned off.
        </p>
      </div>
    </div>

    <!--Card 3-->
    <div class="overflow-hidden md:w-96 bg-steps-3 border border-border bg-right-bottom bg-no-repeat bg-contain">
      <div class="pr-10 pl-4 md:w-92 sm:w-72 text-left py-4">
        <div class="font-bold text-xl mb-2">Step #3</div>
        <div class="font-bold text-xl mb-2">Complete purchase</div>
        <p class="text-gray-700 text-base">
          Once the auction starts you can make an offer on the property your are interested in, starting from the "Opening bid". "Buy now" properties are avaiable for immediate purchase and are usually made available a few days prior to them being auctioned off.
        </p>
      </div>
    </div>
  </div>
</div>
</div>