<div class='hero-section mb-5 w-full relative'>
  <%= image_tag 'HeroImage', :class => 'w-full' %>
  <div class='w-full md:absolute flex flex-col items-center md:items-start md:right-0 md:w-1/2 md:bottom-0 bg-blue text-white p-10 pr-5 pb-5'>
      <h1 class='mb-2 text-4xl font-bold'>Auctions of May 2020</h1>
      <p class="text-lg font-sharp">A selection of 40 properties located throughout Italy with strong appeal and compelling value</p>
      <div class='flex-col justify-center p-1 mb-4 register-btn-sec'>
        <button class='primary flex justify-center bg-blue-child p-3 px-8 text-lg text-white hover:outline-none font-sharp'>
          Register
          <%= image_tag 'left-arrow.svg', :class => 'ml-2 mt-2' %>
        </button>
        <a href='#' class='text-clr-blue h-full m-5 mt-8 text-lg underline are-you-agent'>Are you an agent? Work with us.</a>
      </div>
  </div>
</div>
