<div class='my-5'>
  <h2 class="block mt-24 mb-4 flex justify-center text-4xl font-bold text-black">What We Offer?</h2>
  <div class='flex justify-center items-center'>
    <div class='h-auto p-10 grid xl:grid-cols-3 lg:grid-cols-3 sm:grid-cols-1 md:grid-cols-1 offer-section'>
      <%= image_tag 'offers.jpg' %>
      <div class='grid grid-cols-1 justify-center'>
        <div class='bg-light-blue mb-5 text-black p-5'>
          <h6 class="text-xl font-bold">Properties ready for sale</h6>
          <p class="py-2">Properties owned by Piraeus Bank have been prepared for sale by the Bank’s property management team.</p>
        </div>
        <div class='bg-light-blue text-black p-5'>
          <h6 class="text-xl font-bold">3D virtual visit</h6>
          <p class="py-2">View the properties in 3D from your electronic device.</p>
        </div>
      </div>
      <div class='grid grid-cols-1 justify-center'>
        <div class='bg-light-blue mb-5 text-black p-5'>
          <h6 class="text-xl font-bold">Financing available</h6>
          <p class="py-2">Apply for a loan and the Bank receive a response within a few days.</p>
        </div>
        <div class='bg-light-blue text-black p-5'>
          <h6 class="text-xl font-bold">0% commission</h6>
          <p class="py-2">Pay no agent commission even if you register through one of our cooperating agents.</p>
        </div>
      </div>
    </div>
  </div>
</div>
