/* app/javascript/stylesheets/application.scss */
@import "tailwindcss/base";

@import "tailwindcss/components";

/* Add any custom CSS here */
@import "tailwindcss/utilities";

.drop-down-language {
  img {
    height: 25px;
    width: 25px;
  }
  .arrow-down {
    width: 15px;
  }
}
.header {
  a {
    color: white;
  }
}
.footer {
  a {
    color: white
  }
}
.containers {
  margin: 2.5rem 0 2.5rem 0;
  width: 100%;
}
.news_section {
  a {
    color: #1B9AD6;
  }
}
.c-card {
  img {    
    transition: transform .3s ease-in-out; 
  }
  
  &:hover {
    img {
      transform: scale(1.05)
    }
  }
}
#owl-demo .item{
  background: #42bdc2;
  padding: 30px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
a:hover {
  background-color: none;
}
a {
  color: white;
}