/* app/javascript/stylesheets/application.scss */
@import "tailwindcss/base";

@import "tailwindcss/components";

/* Add any custom CSS here */
@import "tailwindcss/utilities";

.drop-down-language {
  img {
    height: 25px;
    width: 25px;
  }
  .arrow-down {
    width: 15px;
  }
}
.header {
  margin-bottom: 64px;
  a {
    color: white;
  }
}
.footer {
  a {
    color: white
  }
}
.containers {
  margin: 2.5rem 0 2.5rem 0;
  width: 100%;
}
.news_section {
  a {
    color: #1B9AD6;
  }
}